{% extends "base.html.twig" %}
{% block body %}
 <h1>Bienvenue sur FRIGOLO</h1>
 <div>
    <p>Frigolo est un projet Symfony qui va nous permettre de gérer de A à Z un frigo et des recettes.</p>
 </div>
{% endblock %}